::-webkit-scrollbar {

       width:3.5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px transparent; 
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: black;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
   background:#46a786;
    
}
::-webkit-scrollbar-thumb:window-inactive {
	background-color: transparent;
	  -webkit-border-radius: 0px;
    border-radius: 0px;
    
    
}



@media screen and (max-width: 768px) {
         ::-webkit-scrollbar {
    width: 2px;
    display: none;
    visibility: hidden;
}
 
/* Track */
::-webkit-scrollbar-track {

    -webkit-box-shadow: inset 0 0 2px transparent; 
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: transparent;
    display: none;
    visibility: hidden;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background:#46a786;
    display: none;
    visibility: hidden;
    
}
::-webkit-scrollbar-thumb:window-inactive {
    background-color: transparent;
      -webkit-border-radius: 0px;
    border-radius: 0px;
    display: none;
    visibility: hidden;
    
    
}

}
