@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

::-moz-selection {
  color: #ebe1c7;
  background: #4ebdbd;
}

::selection {
  color: #ebe1c7;
  background: #4ebdbd;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font: 50px;
  letter-spacing: 2px;
  color: #2b3140;
}
.header {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 3vw;
  letter-spacing: 1px;
  line-height: 7vw;
  color: #bf964a;
}

h2 {
  color: black;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  margin-top: 10px;
}

h3 {
  font-weight: 700;
  letter-spacing: 1px;
}

p {
  font-size: calc(12px + ((3 * (100vw - 720px)) / 719));
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  line-height: 1.9em;
  color: #7e8182;
}
p.roboto {
  font-family: "Roboto", sans-serif;
}
h4 {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
}
a:hover {
  text-decoration: none;
}
a.white {
  color: white;
}
a.white:hover {
  color: gray;
}

/************BASICS STYLINGS**************/
.color1 {
  color: #2b3140;
}
.color2 {
  color: #bf964a;
}
.black {
  color: #2b3140;
}
.mt50 {
  margin-top: -100px;
}
.small3 {
  font-size: 13.5px;
  letter-spacing: 1px;
}
.up20 {
  margin-top: -50px;
}
.left20 {
  margin-left: -20px;
}
.shadowed {
  -webkit-box-shadow: -4px 10px 72px -55px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: -4px 10px 72px -55px rgba(0, 0, 0, 0.65);
  box-shadow: -4px 10px 72px -55px rgba(0, 0, 0, 0.65);
}
.white {
  color: white;
}
.justified {
  justify-content: justify;
}
.mt-20 {
  padding-bottom: 50px;
  display: inline-block;
}
.width75 {
  display: block;
  max-width: 60%;
}
.carded {
  padding: 80px 80px;
  display: block;
  background: white;
  z-index: 100;
  height: 100%;
  margin-top: 40px;
}
.padding25 {
  padding-right: 10%;
  padding-left: 10%;
}
.m-less {
  margin: 0 !important;
  padding: 0;
}
.stroke {
  letter-spacing: 1px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #bf964a;
  color: white;
}
a.btn1 {
  font-size: 11px;
  color: white;
  letter-spacing: 2px;
  padding: 18px 40px;
  background: #2b3140;
}

a.btn1:hover {
  letter-spacing: 3px;
  transition: 0.3s;
  color: #bf964a;
  text-decoration: none;
}

a.btn2 {
  font-size: 11px;
  color: white;
  letter-spacing: 2px;
  width: 100%;
  border: 1px solid white;
  padding: 20px 40px;
  padding-right: 60px;
}

a.btn2:hover {
  letter-spacing: 3px;
  transition: 0.3s;
  color: #299796;
  text-decoration: none;
  border-color: #299796;
}

a.btn3 {
  font-size: 12.5px;
  color: white;
  letter-spacing: 2px;
}

a.btn3:hover {
  letter-spacing: 3px;
  transition: 0.3s;
  color: white;
  text-decoration: none;
}

a.btn4 {
  font-size: 11px;
  color: white;
  letter-spacing: 2px;
  background: #2b3140;
}

a.btn4:hover {
  letter-spacing: 1px;
  transition: 0.3s;
  color: #bf964a;
  text-decoration: none;
}
span.btn_line {
  display: inline-block;
  margin: 0px 10px;
}

a.btn1:hover span.btn_line {
  margin-left: 13px;
  transition: 0.3s;
}

span.line {
  background: black;
  min-height: 1px;
  min-width: 30px;
  display: inline-block;
  width: width;
  margin-bottom: 3px;
  margin-left: 15px;
  margin-right: 20px;
}
span.line2 {
  background: black;
  min-height: 1px;
  min-width: 15px;
  display: inline-block;
  width: width;
  margin-bottom: 3px;
  margin-left: 0px;
  margin-right: 20px;
}
span.line3 {
  background: white;
  min-height: 1px;
  min-width: 10px;
  display: inline-block;
  width: width;
  margin-bottom: 3px;
  margin-left: 0px;
  margin-right: 10px;
}

.align-left {
  text-align: left;
  align-content: flex-start;
}

.align-right {
  text-align: right;
  align-content: flex-start;
}
.large1 h1 {
  font-size: 85px;
}

@media screen and (max-width: 768px) {
  .large1 {
    font-size: 35px;
  }
  .mobile-h {
    display: none;
    opacity: 0;
  }
  .m-white {
    color: white;
  }
  .up20 {
    margin-top: 0px;
  }
  p {
    font-size: 12px;
  }

  .align-left {
    text-align: center;
    align-content: center;
  }

  .align-right {
    text-align: center;
    align-content: center;
  }
  h3 {
    font-size: 20px;
  }
  .header {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 50px;
    letter-spacing: 1px;

    color: #bf964a;
  }

  .left20 {
    margin-left: 0px;
  }

  .width75 {
    display: block;
    max-width: 100%;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  h1 {
    font: 40px;
  }
}

/***************************************************** NAVIGATION ****************************************************/

/***BRAND LOGO***/

.navbarea {
  position: absolute;
  top: 0;
  left: 0;
  height: 9%;
  width: 100%;
  background: white;
  z-index: 150;
}

.brand_logo {
  position: absolute;
  top: 10px;
  z-index: 200;
  left: 20px;
}
.brand_logo img {
  width: 135px;
}
.brand_logo:hover {
  opacity: 0.85;
}

.brand_logo img {
  width: 130px;
}

/***Social Media**/
.social {
  position: absolute;
  bottom: 50px;
  z-index: 200;
  right: 20px;
  display: inline-block;
  cursor: pointer;
}
.social ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.social ul li {
  float: left;
}

.social ul li a {
  display: block;
  text-decoration: none;
  text-align: center;
  padding-right: 10px;
}
.social ul li a:hover {
  opacity: 0.8;
  transition: 0.2s;
}

/***Conntec***/

.connect {
  position: absolute;
  top: 40px;
  z-index: 200;
  right: 50px;
  display: inline-block;
  cursor: pointer;
}

.connect p {
  float: left;
  display: inline-block;
  padding-left: 20px;
  color: black;
  font-size: 15px;
}

a.explore_btn {
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 8px;
  color: white;
  cursor: pointer;
  transition: 0.4s;
  padding: 10px 20px;
  margin-right: -10px;
  z-index: 100;
}

a.explore_btn:hover {
  text-decoration: none;
  letter-spacing: 6.5px;
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0 0 0 50px rgba(255, 255, 255, 0);
  }
}

/***MENU ICON***/
.menu_icon {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 2500000;
  display: inline-block;
  cursor: pointer;
  width: 100px;
  height: 100px;
  padding-left: 0px;
  padding-top: 15px;
  margin-right: -20px;
}

.menu_icon:hover .bar1 {
  opacity: 0.85;
  width: 35px;
  background: #bf964a;
  transition: 0.2s;
}
.menu_icon:hover .bar2 {
  opacity: 0.85;
  width: 35px;
  background: #bf964a;
  transition: 0.5s;
}

.bar1,
.bar2 {
  width: 40px;
  height: 2px;
  background-color: #2b3140;
  margin: 16px 0;
  transition: 0.14s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-7px, 3px);
  transform: rotate(-45deg) translate(-7px, 3px);
}

.change .bar2 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* styles added by haneen */
.investment-wrapper {
  margin-top: 100px;
}
.inv-banner {
  width: 100vw;
  max-height: 60vh;
  overflow: hidden;
}

.map-iframe {
  border: 0;
  -webkit-filter: grayscale(70%);
  filter: grayscale(70%);
}

/****** MAIN MENU _ LOGO & NAV *****/

#mainmenu {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  z-index: 250000;
  background: url("/img/menu_bg.jpg") no-repeat center center;
  background-size: cover;
  margin: 0px !important;
  padding: 0px !important;
  overflow-y: hidden !important;
  overflow: hidden;
}

#menusection {
  position: absolute;
  top: 35%;
  right: 0;
  left: 0;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s;
  overflow: hidden;
  text-align: center;
  align-items: center;
}

#menusection ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#mensection ul li {
  line-height: 60px;
  font-weight: 100;
  cursor: pointer;
  text-align: left;
  color: black;
  animation-duration: 0.1s ease;
}

#menusection ul li:nth-child(1n) {
  -webkit-animation-delay: 0.1s;
}

#menusection ul li:nth-child(2n) {
  -webkit-animation-delay: 0.2s;
}

#menusection ul li:nth-child(3n) {
  -webkit-animation-delay: 0.3s;
}

#menusection ul li:nth-child(4n) {
  -webkit-animation-delay: 0.4s;
}

#menusection ul li:nth-child(5n) {
  -webkit-animation-delay: 0.5s;
}

#menusection ul li:nth-child(6n) {
  -webkit-animation-delay: 0.6s;
}
#menusection ul li:nth-child(7n) {
  -webkit-animation-delay: 0.6s;
}

#menusection ul li a {
  color: #2b3140;
  font-size: 45px;
  line-height: 65px;
  font-family: "Cormorant", serif;
  font-weight: 400;
  letter-spacing: 2.5px;
  margin-bottom: 40px;
  text-align: left;
}
#menusection ul li a:hover {
  color: #bf964a;
  text-decoration: none;
  letter-spacing: 1px;
  transition: 0.5s;
}

/****** RESPONSIVENESS *****/
@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .navbarea {
    position: absolute;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background: white;
    z-index: 150;
  }

  .brand_logo {
    position: absolute;
    top: 10px;
    z-index: 200;
    right: 100px;
    width: 110px;
    margin-top: -5px;
    margin-left: -10px;
  }

  .brand_logo img {
    width: 110px;
  }

  .social {
    position: absolute;
    bottom: 35px;
    z-index: 200;
    right: 10px;
    display: inline-block;
    cursor: pointer;
  }
  .social ul li a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding-right: 2px;
  }
  .connect {
    position: absolute;
    top: 20px;
    z-index: 200;
    right: 10px;
    display: inline-block;
    cursor: pointer;
  }

  .menu_icon {
    position: fixed;
    margin-top: -5px;
    margin-left: 0px;
    margin-right: -25px;
  }

  .bar1,
  .bar2 {
    width: 40px;
    height: 2px;
    background-color: black;
    margin: 12px 0;
    transition: 0.14s;
  }

  #mainmenu {
    height: 100%;
    width: 100%;
  }

  #menusection ul li {
    font: 400 18px;
    letter-spacing: 1.5px;
    line-height: 40px;
    font-size: 28px;
  }
}

@media screen and (max-width: 360px) {
  .navbarea {
    position: absolute;
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
    background: white;
    z-index: 150;
  }
}
/***************************************************** Carousel****************************************************/

.carousel-item {
  height: 100vh;
}
.carousel-item img {
  height: 100vh;
  object-fit: cover;
}

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50%;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 43%;
  left: 10%;
  z-index: 1000;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #bdbdbd;
  text-align: center;
}
.carousel-caption h1 {
  font-size: 72px;
  text-align: left;
  letter-spacing: 10px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Libre Baskerville", serif;
  color: #bf964a;
  text-shadow: 1px 1px black;
}
.carousel-indicators li {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 30px;
  height: 1.2px;
  margin-right: 4px;
  margin-left: 4px;
  margin-bottom: 20px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #989898;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}
.carousel-indicators {
  position: absolute;
  left: 0;
  bottom: 1%;
  margin-left: 60px;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  justify-content: start;
  padding-left: 0;

  list-style: none;
}

.carousel-control-next {
  cursor: url(/img/right-a.png), pointer;
}
.carousel-control-prev {
  cursor: url(/img/left-a.png), pointer;
}

@media screen and (max-width: 1200px) {
  .carousel-caption h1 {
    font-size: 55px;
    line-height: 57px;
    text-align: left;
  }
}
@media screen and (max-width: 768px) {
  .carousel-item {
    height: 100vh;
  }
  .carousel-item img {
    height: 100vh;
    object-fit: cover;
  }
  .carousel-caption h1 {
    font-size: 18px;
    line-height: 32px;
    text-align: center;
  }
  .carousel-indicators {
    right: 20px;
  }
  .carousel-indicators li {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    margin-left: 15px;
    margin-bottom: 20px;
  }
}

/*************************************** BLOCKS / SECTIONS *************************************/

.block {
  position: relative;
  top: 0;
  width: 100%;
  padding: 80px 0px;
}

.block2 {
  position: relative;
  top: 0;
  width: 100%;
  padding: 90px 0px;
  padding-bottom: 120px;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: none;
}

.bg1 {
  background-color: #f8f9fa;
}
.bg2 {
  background: #d9d2b0;
}
.bg3 {
  background: url("/img/investment_bg.jpg") no-repeat center center;
  background-size: cover;
}
.bg4 {
  background: url("/img/footer.jpg") no-repeat center center;
  background-size: cover;
}
.bg5 {
  background: url("/img/contact_bg.jpg") no-repeat center bottom;
  background-size: cover;
}
.bg6 {
  background: url("/img/corevalues.jpg") no-repeat center center;
  background-size: cover;
}
.bg7 {
  background-color: #fdfdfd;
}
.bg8 {
  /* background: url("/img/products.jpg") no-repeat center center; */
  background-size: cover;
  height: 70vh;
  padding-top: 15%;
}

.bg9 {
  background: url("/img/mission.jpg") no-repeat center center;
  background-size: cover;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  background: #2b3140;
}

.overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.contents {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlayer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 111, 121, 0.4738270308123249) 0%,
    rgba(0, 212, 255, 0.4738270308123249) 100%
  );
}

.contents:hover .overlayer {
  opacity: 1;
  cursor: pointer;
}
.contents:hover .image {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: 0.2s linear;
}

.text {
  color: white;
  font-family: "Libre Baskerville", serif;
  font-size: 26px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 555;
}

@media screen and (max-width: 768px) {
  .hovereffect a.info {
    font-size: 15px;
  }
  .block {
    position: relative;
    top: 0;
    width: 100%;
    padding: 25px 0px;
  }

  .block2 {
    position: relative;
    top: 0;
    width: 100%;
    padding: 50px 0px;
    padding-bottom: 80px;
  }
  .bg3 {
    background: url("/img/investment_bg_m.jpg") no-repeat center top;
    background-size: cover;
  }

  .bg6 {
    background: url("/img/corevalues.jpg") no-repeat center left;
    background-size: cover;
  }

  .bg8 {
    /* background: url("/img/products.jpg") no-repeat center center; */
    background-size: cover;
    height: 100%;
    padding: 50px 0px;
    padding-bottom: 60px;
  }
}

/*************************************** TOP THE TOP DIV *************************************/

.cd-top {
  display: inline-block;
  height: 35px;
  width: 35px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #f4f5f7 url(/img/cd-top-arrow.png) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  border: 1px solid black;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  z-index: 1;
}
.cd-top {
  height: 50px;
  width: 50px;
  right: 30px;
  bottom: 20px;
}
.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: 0.5;
}
.cd-top:hover {
  background-color: #bf964a;
  opacity: 1;
  transition: 0.2s;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 25px;
    bottom: 40px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 50px;
    width: 50px;
    right: 30px;
    bottom: 30px;
  }
}

/*************************************** CONTACT US *************************************/
.contact-form {
  margin-top: 15px;
}
.contact-form .textarea {
  min-height: 220px;
  resize: none;
}
.form-control {
  box-shadow: none;
  border-color: #eee;
  height: 49px;
}
.form-control:focus {
  box-shadow: none;
  border-color: #2b3140;
}
.form-control-feedback {
  line-height: 50px;
}
.main-btn {
  background: #2b3140;
  border-color: #2b3140;
  color: #fff;
  border-radius: 0px;
  padding: 15px 30px;
}
.main-btn:hover {
  background: white;
  color: #2b3140;
}
.form-control-feedback {
  line-height: 50px;
  top: 0px;
}
